<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jardineria</title>
</head>
<body>
    <h1>Jardineria</h1>
    <br>
    {% for producto in productos %}

    {{producto.id_producto}}, {{producto.nombre_producto}},  {{producto.precio}},
    {{producto.descripcion}}, <img src="{{producto.foto.url}}" alt="imagen de {{producto.nombre_producto}}" width="100">, {{producto.id_categoria.categoria}}<br>

    {% endfor%}
</body>
</html>