<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jardineria</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <header>
        <div class="container-hero">
            <div class="container hero">
                <div class="customer-support">
                    <i class="fa-solid fa-headset"></i>
                    <div class="content-customer-support">
                        <span class="text">Soporte al cliente</span>
                        <span class="number">123-456-7890</span>
                    </div>
                </div>

                <div class="container-logo">
                    <i class="fa-solid fa-seedling"></i>
                    <h1 class=""><a href="{% url 'inicio' %}">Plantitas Chile 🌷</a></h1>
                </div>

                <div class="container-user">
                    <i class="fa-solid fa-user"></i>
                    <i class="fa-solid fa-basket-shopping"></i>
                    <div class="content-shopping-cart">
                        <span class="text">Carrito</span>
                        <span class="number">(0)</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-navbar">
            <nav class="navbar container">
                <i class="fa-solid fa-bars"></i>
                <ul class="menu">
                    <li><a href="{% url 'inicio' %}">Inicio✨</a></li>
                    <li><a href="{% url 'index' %}">Productos</a></li>
                    

                </ul>

                <form class="search-form">
                    <input type="search" placeholder="Buscar..." />
                    <button class="btn-search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </nav>
        </div>
    </header>

    <div class="container">
        <h1>Jardineria</h1>
        <br>
        {% for producto in productos %}
            <div class="product">
                <div class="product-info">
                    <p>ID Producto: {{ producto.id_producto }}</p>
                    <p>Nombre: {{ producto.nombre_producto }}</p>
                    <p class="price">Precio: {{ producto.precio }}</p>
                    <p>Descripción: {{ producto.descripcion }}</p>
                    {% if producto.foto %}
                        <img src="{{ producto.foto.url }}" alt="imagen de {{ producto.nombre_producto }}" width="100">
                    {% else %}
                        <img src="{% static 'ruta/a/imagen/por/defecto.jpg' %}" alt="imagen por defecto" width="100">
                    {% endif %}
                    <p>Categoría: {{ producto.id_categoria.categoria }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
