{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'StylesInicioSesion.css' %}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <div class="logoempresa">
        <img src="{% static 'img/logo.avif' %}" alt="logoempresa" width="105px">
    </div>
  
    <div class="formulario" id="container">
        <h1>Inicio Sesion</h1>
        <form id="miFormulario" action="{% url 'inicio' %}" method="POST">
            {% csrf_token %}
            <div class="username">
                <input type="text" id="itNombre" class="campo" name="username" required>
                <label>Nombre de Usuario</label>
                <div id="mensaje1" class="errores">Ingrese su nombre</div>
            </div>
            <div class="username">
                <input type="password" id="itPassword" class="campo" name="password" required>
                <label>Contraseña</label>
                <div id="mensaje2" class="errores">Ingrese Contraseña</div>
            </div>
            <div class="recordar">¿Olvidó su contraseña?</div>
            <input type="submit" value="Iniciar" id="bEnviar" class="boton">
            <div class="registrarse">
                <a href="{% url 'Registrarse' %}">Registrarse</a>
            </div>
        </form>
    </div>
    <script src="{% static 'login.js' %}"></script>
</body>
</html>
